<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Assignment Second" verbose="1">
	<listeners>
		<listener class-name = "org.automationlabs.utils.TakeSceenShotListener"></listener>
		<listener class-name = "org.automationlabs.utils.AnnotationTransformer"></listener>
	</listeners>
	<test name = "Make My Trip">
		<classes>
			<class name="org.automationlabs.tests.MakeMyTrip_Test"></class>
		</classes>
	</test>
</suite>